/* step1SelectShop.vue 对应style */
.selectShopPage {
    .sshopContent{
        position: fixed;
        top: .44rem;
        width: 100%;
        height: calc(100% - .44rem);
        .shopInfo{
            border-bottom: 1px solid #DDD;
            height: .94rem;
            box-sizing: border-box;
            padding: .15rem;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: space-between;
            img {
                width: .6rem;
                height: .6rem;
            }
            .shopContent{
                width: 65%;
                height: .6rem;
                display: flex;
                flex-direction: column;
                align-items: left;
                justify-content: space-between;
                .shopTitle {
                    h3{
                        font-size: 16px;
                        font-weight: 400;
                        padding-bottom: 5px;
                        color: #666;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        -o-text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                span{
                    font-size: 12px;
                    color: #999;
                }
                .cyan{
                    color: #0CCAE8
                }
            }
            i{
                width: 15%;
                font-size: .28rem;
                font-weight: 400;
            }
            .selectStatus{
                color: #0099ff
            }
        }
    }
    .prompt{
        position: fixed;
        bottom: .49rem;
        width: 100%;
        text-align: left;
        box-sizing: border-box;
        padding: .08rem 0;
        background: #fff;
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
        span{
            margin-left: .08rem;
            text-decoration: underline;
        }
    }
    .footerInner{
        height: 100%;
        background: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .footerLeft{
            width: 60%;
            display: flex;
            align-items: center;
            img{
                width: 20%;
            }
            .cartHint{
                width: 100%;
                box-sizing: border-box;
                padding-left: .08rem;
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                p{
                    font-size: .12rem;
                    color: #666;
                    span{
                        margin: 0 .08rem;
                    }
                }
            }
        }
        .footerRight{
            width: 30%;
            height: 100%;
            background: #0099ff;
            text-align: center;
            line-height: .49rem;
            color: #fff;
        }
    }
}